<form (submit)="savePermissions(shareSettings.value)" [formGroup]="shareSettings" class="p-fluid">
    <h3 class="mt-0">Share Settings</h3>

    <div class="p-field">
        <p-selectButton 
            [options]="privacyOptions"
            formControlName="privacyLevel"
            optionLabel="name"
            optionValue="code"
            class="block"
        >
            <ng-template let-option>
                <i [class]="'p-button-icon p-button-icon-left ' + option.icon"></i>
                <span class="p-button-label">{{ option.name }}</span>
            </ng-template>
        </p-selectButton>
    </div>
    <section class="mt-5" *ngIf="shareSettings.get('privacyLevel')?.value !== 'PRIVATE'">
        <app-async-dropdown
            fieldId="favorites"
            fieldLabel="Share With People"
            [initialGroupFetch]="fetchFavorites"
            [secondGroupFetch]="fetchPeople"
            (selectedOptions)="updateBulbUsers($event)"
            class="block my-5"
        ></app-async-dropdown>

        <app-async-dropdown
            fieldId="groups"
            fieldLabel="Share With Groups"
            [initialGroupFetch]="fetchFavorites"
            [secondGroupFetch]="fetchPeople"
            (selectedOptions)="updateBulbGroups($event)"
            class="block my-5"
        ></app-async-dropdown>

        <p-button
            type="submit"
            label="Apply Share Settings"
            icon="pi pi-check"
            class="my-5"
        ></p-button>
    </section>

</form>
