$overlayContentBg: #000;
$overlayContentText: #fff;


.p-overlaypanel--dark {
    background-color: $overlayContentBg;
    color: $overlayContentText;

    &::after,
    &::before {
        border-bottom-color: $overlayContentBg;
    }
}
