
@use '~primeicons/primeicons';
@use '~primeng/resources/themes/saga-blue/theme';
@use '~primeng/resources/primeng';

html {
    font-family: var(--font-family);
}

body {
    max-width: 65ch;
    margin: auto;
    padding: 0 1.5rem;
}

p {
    color: var(--text-color-secondary);
}